* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: Tahome, Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
  position: relative;
}

hr {
  border: 1px solid #eee;
}

.container .game-info {
  display: flex;
}

.container .game-info .game-name {
  flex: 1;
}

.container .game-info .game-category {
  flex: 1;
  text-align: right;
}

.container .game-info .category span {
  color: #005238;
  font-weight: bold;
}

.row {
  display: flex;
}

.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 500px;
  margin-left: 20px;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 480px;
  border-bottom: 6px solid #222;
  position: relative;
}

.hangman-draw .the-draw .stand {
  position: absolute;
  height: 100%;
  background-color: #222;
  width: 6px;
  left: 50%;
  margin-left: -3px;
}

.hangman-draw .the-draw .hang::before {
  content: "";
  position: absolute;
  background-color: #222;
  width: 130px;
  height: 6px;
  left: 30px;
  top: 20px;
}

.hangman-draw .the-draw .hang::after {
  content: "";
  position: absolute;
  background-color: #222;
  width: 6px;
  height: 50px;
  left: 155px;
  top: 20px;
}


.hangman-draw .the-draw .rope {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px dashed #222;
  left: 119px;
  top: 54px;
  transform: rotate(70deg);
  display: none;
}

.hangman-draw .the-draw .man .head {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 50%;
  left: 129px;
  top: 65px;
  display: none;
}

.hangman-draw .the-draw .man .body {
  position: absolute;
  height: 150px;
  background-color: #222;
  width: 6px;
  left: 156px;
  top: 124px;
  display: none;
}

.hangman-draw .the-draw .man .hand {
  position: absolute;
  top: 135px;
  width: 6px;
  height: 50px;
  background-color: #222;
  display: none;
}

.hangman-draw .the-draw .man .hand-left {
  left: 174px;
  transform: rotate(45deg);
}

.hangman-draw .the-draw .man .hand-right {
  left: 138px;
  transform: rotate(-45deg);
}

.hangman-draw .the-draw .man .leg {
  display: none;
  position: absolute;
  top: 264px;
  width: 6px;
  height: 50px;
  background-color: #222;
}

.hangman-draw .the-draw .man .leg-left {
  left: 174px;
  transform: rotate(-45deg);
}

.hangman-draw .the-draw .man .leg-right {
  left: 138px;
  transform: rotate(45deg);
}

.hangman-draw.wrong-1 .the-draw .man .head {
  display: block;
}

.hangman-draw.wrong-2 .the-draw .man .body {
  display: block;
}

.hangman-draw.wrong-3 .the-draw .man .hand {
  display: block;
}

.hangman-draw.wrong-4 .the-draw .man .leg {
  display: block;
}

.hangman-draw.wrong-5 .the-draw .rope {
  display: block;
}

.hangman-draw.wrong-5 .the-draw .hang::after {
  height: 35px;

}

.letters {
  flex: 2;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.letters.finished {
  pointer-events: none;
}

.letters .letter-box {
  display: inline-block;
  width: 50px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
  line-height: 60px;
  background: #005238;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.letters .letter-box.clicked {
  opacity: 0.2;
  pointer-events: none;
  background-color: #222;
}

.letters-guess {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 30px auto 120px;
  display: flex;
  justify-content: center;
}

.letters-guess span {
  width: 40px;
  height: 60px;
  border-bottom: 3px solid #005238;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  background-color: #fdfdfd;
  color: #005238;

}

.letters-guess span.space {
  border: none;
  background: none;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }

  .letters-guess {
    flex-wrap: wrap;
  }
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  margin: auto;
  z-index: 2;
  font-weight: bold;
}

.popup span {
  width: 25px;
  height: 25px;
  background-color: red;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}